.coq{
	float: left;
	margin-left: 200px;
	position: absolute;
	margin-top: -150px;
}

.Atlas{
	float: left;
	position: absolute;
	width: 250px;
	margin-left: 250px;
	margin-top: 375px;
}

.ecolo {
	float: left;
	position: absolute;
	width: 50%;
	margin-top: 1250px;
	margin-left: 560px;
}

.marked-list{
	float: right;
	position: absolute;
	margin-top: -350px;
}

.head-bord-2 {
	margin-top: 500px;
}

.marked-list-1{
}